/* 
  The full styling of the theme and elements.
 */

@import url("https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet"); /* Gets the fonts from Google Fonts */

h2{
  font-size: 42px;
}

header{
  background-color: #0E9AA7;
}

header *{
  color: #fff;
}

header .container{
  padding: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.site-name a{
  color: #fff;
}

.site-name{
  font-family: "Raleway", sans-serif;
  font-size: 53px;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.site-logo img{
  max-height: 150px;
  margin-right: 1rem;
  display: inline-block;
}

a{
  color: #0E9AA7;
}

#sidebar nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: none;	
  margin-top: 1rem;
}

#sidebar nav ul li{
  background-color: #F6CD61;
  border: solid 5px white;
  border-left: none;
  padding: 0 10px;
}

#sidebar nav ul li a{
  text-align: center;
  width: calc(100% + 20px); /* Sets the size of the <a> equal to the parent, without the padding */
  margin-left: -10px;  /* Against the padding */
}

#content footer{
  margin: 1rem auto;
}

#page > footer{
  margin-top: 5rem;
  border-top: solid 1px #efefef;
}

footer nav{
  box-shadow: none;
}

footer nav ul li{
  background-color: #F6CD61;
  border: solid 5px white;
  padding: 0 10px;
}

footer nav ul li a{
  text-align: center;
  width: calc(100% + 20px);
  margin-left: -10px;
}

@media screen and (max-width: 750px){
  .site-name{
    font-size: 36px;
  }

  .site-logo{
    margin-right: 0;
  }
}
