<div id="page">
  <header class="z-depth-3">
    <div class="container">
      {{ page.header }}
    </div>
  </header>
  <section id="main">
    <div class="container">
      <div class="row">
        <div id="content" class="col s12 m9">
          {{ page.content }}
        </div>
        {% if page.sidebar %}
          <div id="sidebar" class="col s12 m3">
            {{ page.sidebar }}
          </div>
        {% endif %}
      </div>
    </div>
  </section>
  {% if page.footer %}
  <footer>
    <div class="container">
      {{ page.footer }}
    </div>
  </footer>
  {% endif %}
</div>